# Compiled class files
*.class

# Package files
*.jar
*.var
*.ear
*.zip
*.tar.gz
*.rar

# Intellij IDEA
.idea/
*.iml
*.ivs
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# Net Beans
/nbproject/private
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS-Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.temp

# Log Files
*.log

# Cryptoanalyzer specific
brute_force_results_*/
*_encrypted.txt
*_decrypted.txt
